<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="combined_robot">

    <!-- Включение мобильной платформы -->
    <xacro:include filename="mobile_robot.xacro"/>
    <xacro:mobile_robot base_link="mobile_base"/>
    <joint name="connector_joint" type="fixed">
        <origin xyz="0.0 0.0 3.0" rpy="0.0 0.0 0.0"/>
        <parent link="mobile_base"/>
        <child link="base_link"/>
        <axis xyz="0.0 0.0 1.0"/>
        <!-- <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/> -->
    </joint>
    <!-- Включение манипулятора -->
    <xacro:include filename="manipulator.xacro"/>
    <xacro:manipulator/>

</robot>
