<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobile_robot">

    <xacro:macro name="mobile_robot" params="base_link">
  <link name="${base_link}">
    <visual>
      <geometry>
        <box size="1.0 0.5 0.2"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 0.5 0.2"/>
      </geometry>
    </collision>
  </link>

  <!-- Передние колеса -->
  <link name="front_left_wheel">
    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
    </collision>
  </link>
  
  <link name="front_right_wheel">
    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
    </collision>
  </link>

  <!-- Задние колеса -->
  <link name="rear_left_wheel">
    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
    </collision>
  </link>

  <link name="rear_right_wheel">
    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
    <origin xyz="0.0 0.0 0.0" rpy="1.56 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.15"/>
      </geometry>
    </collision>
  </link>

  <!-- Шарниры для передних колес -->
  <joint name="front_left_steering_joint" type="revolute">
    <parent link="${base_link}"/>
    <child link="front_left_wheel"/>
    <origin xyz="0.4 0.3 -0.265" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.5" upper="0.5" effort="1.0" velocity="1.0"/>
  </joint>

  <joint name="front_right_steering_joint" type="revolute">
    <parent link="${base_link}"/>
    <child link="front_right_wheel"/>
    <origin xyz="0.4 -0.3 -0.265" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.5" upper="0.5" effort="1.0" velocity="1.0"/>
  </joint>

  <!-- Шарниры для вращения колес -->
  <joint name="rear_left_drive_joint" type="continuous">
    <parent link="${base_link}"/>
    <child link="rear_left_wheel"/>
    <origin xyz="-0.4 0.3 -0.265" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="rear_right_drive_joint" type="continuous">
    <parent link="${base_link}"/>
    <child link="rear_right_wheel"/>
    <origin xyz="-0.4 -0.3 -0.265" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <gazebo>
  <plugin name="ackermann_steering_plugin" filename="libackermann_steering_plugin.so">
    <left_steering_joint>front_left_steering_joint</left_steering_joint>
    <right_steering_joint>front_right_steering_joint</right_steering_joint>
    <left_drive_joint>rear_left_drive_joint</left_drive_joint>
    <right_drive_joint>rear_right_drive_joint</right_drive_joint>
    <wheel_base>1.0</wheel_base>
    <track_width>0.6</track_width>
  </plugin>
</gazebo>
    </xacro:macro>
</robot>
